<section class="login-page">

    <div class="login-card">

        <!-- HEADER -->
        <div class="login-header">

            <span class="login-label">
                Welcome Back
            </span>

            <h1>Login to Your Account</h1>

            <p>
                Access your Match With Ijas profile and find meaningful matches.
            </p>

        </div>


        <!-- LOGIN FORM -->
        <div class="login-form">

            <!-- MOBILE NUMBER -->
            <label for="phone">
                Mobile Number
            </label>

            <div class="phone-input">

                <span class="country-code">
                    +91
                </span>

                <input
                    id="phone"
                    type="tel"
                    maxlength="10"
                    inputmode="numeric"
                    autocomplete="tel"
                    [(ngModel)]="phone"
                    placeholder="Enter 10 digit mobile number"
                >

            </div>


            <!-- PASSWORD -->
            <label for="password">
                Password
            </label>

            <div class="password-input">

                <input
                    id="password"
                    [type]="showPassword ? 'text' : 'password'"
                    [(ngModel)]="password"
                    autocomplete="current-password"
                    placeholder="Enter your password"
                >

                <button
                    type="button"
                    (click)="showPassword = !showPassword"
                    aria-label="Toggle password visibility"
                >

                    <i
                        class="fa-solid"
                        [class.fa-eye]="!showPassword"
                        [class.fa-eye-slash]="showPassword"
                    ></i>

                </button>

            </div>


            <!-- FORGOT PASSWORD -->
            <div class="forgot-row">

                <a routerLink="/forgot-password">
                    Forgot Password?
                </a>

            </div>


            <!-- ERROR -->
            @if (errorMessage) {

                <div class="message error-message">

                    <i class="fa-solid fa-circle-exclamation"></i>

                    <span>
                        {{ errorMessage }}
                    </span>

                </div>

            }


            <!-- LOGIN BUTTON -->
            <button
                type="button"
                class="login-btn"
                (click)="login()"
                [disabled]="loading"
            >

                @if (loading) {

                    <span class="loading-content">

                        <i class="fa-solid fa-spinner fa-spin"></i>

                        Logging in...

                    </span>

                } @else {

                    Login

                    <i class="fa-solid fa-arrow-right"></i>

                }

            </button>


            <!-- REGISTER -->
            <p class="register-text">

                Don't have an account?

                <a routerLink="/register">
                    Create Profile
                </a>

            </p>
            <button
    type="button"
    class="back-home-btn"
    (click)="goToHome()"
>
    <i class="fa-solid fa-arrow-left"></i>
    Back to Home
</button>

        </div>

    </div>

</section>