<div class="db-check-page">

  <div class="db-check-container">

    <div class="page-header">

      <div>
        <span class="eyebrow">
          DEVELOPMENT / TESTING
        </span>

        <h1>
          Registration DB Check
        </h1>

        <p>
          Exact data returned from database
        </p>
      </div>

      <button
        type="button"
        class="refresh-btn"
        (click)="loadDatabaseData()"
      >
        ↻ Refresh
      </button>

    </div>


    @if (loading) {

      <div class="loading-box">
        Fetching data from database...
      </div>

    }


    @if (errorMessage) {

      <div class="error-box">
        {{ errorMessage }}
      </div>

    }


    @if (data) {

      <div class="data-box">

        <div class="data-header">
          <strong>
            DATABASE RESPONSE
          </strong>

          <span>
            Read-only testing view
          </span>
        </div>

        <pre>{{ data | json }}</pre>

      </div>

    }

  </div>

</div>