* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  color: #222;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
/* =========================
   SHARED SECTION TITLE
========================= */

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title span {
  color: #7c3aed;
  font-weight: 600;
  font-size: 15px;
}

.section-title h2 {
  margin-top: 12px;
  font-size: 42px;
  margin-bottom: 18px;
}

.section-title p {
  color: #666;
  max-width: 700px;
  margin: auto;
  line-height: 30px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 991px) {

  .section-title h2 {
    font-size: 30px;
  }

}

/* =========================================
   ADMIN PANEL GLOBAL LAYOUT
========================================= */

app-admin-menu {
  display: block;
}


/* Main content area for every admin page */

.admin-page {
  box-sizing: border-box;

  margin-left: 230px;

  width: calc(100% - 230px);

  min-height: 100vh;

  padding: 35px 40px 60px;
}

/* Prevent horizontal overflow */

body {
  margin: 0;

  overflow-x: hidden;
}


/* =========================================
   ADMIN MOBILE LAYOUT
========================================= */

@media (max-width: 800px) {

   .admin-page {
    width: 100%;

    margin-left: 0;

    padding: 78px 16px 50px;
  }

}